src/.vs
src/LHZ.IntArrayCompress/LHZ.IntArrayCompress/bin
src/LHZ.IntArrayCompress/LHZ.IntArrayCompress/obj
src/LHZ.IntArrayCompress/LHZ.IntArrayCompress.Test/bin
src/LHZ.IntArrayCompress/LHZ.IntArrayCompress.Test/obj